.h1 {
    color: red;
}

.h2 {
    color: red;
}

body {
    background-color: #255471;
    color: #e40000;
}

header {
    background-color: #255471;
}

.logo {
    height: 100px;
    width: 100px;
    display: flex;
}

.content {
    height: 100px;
    width: 100px;
    display: flex;
}

.message-text {
    color: #255471;
    height: 100px;
    width: 100px;
    display: flex;
}

.warning-text {
    height: 100px;
    width: 100px;
    display: flex;
}

#studioFooter {
    background-color: #255471;
    color: #fff;
}

.footerCopyright {
    height: 100px;
    width: 100px;
    display: flex;
}

.pwdLoginTextbox {
    height: 100px;
    width: 100px;
    display: flex;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
}