body {
    background-color: #255471;
    color: #fff;
}

.header {
    background-color: #255471;
}

.logo {
    height: 10px;
    width: 10px;
    display: flex;
}

.content {
    height: 10px;
    width: 10px;
    display: flex;}

.message-text {
    height: 10px;
    width: 10px;
    display: flex;}

.warning-text {
    height: 10px;
    width: 10px;
    display: flex;}

#studioFooter {
    background-color: #255471;
    color: #fff;
}

.footerCopyright {
    height: 10px;
    width: 10px;
    display: flex;
}

.pwdLoginTextbox{
    height: 10px;
    width: 10px;
    display: flex;
}